{% extends 'base.html' %}

{% block content %}
    <h2>Ajouter une opération phytosanitaires </h2>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  
  
  
  
  
  
    <form action="{{ url_for('add_operation') }}" method="POST">
        <div class="input-field">
            <label>Date traitement</label><br>
            <input type="date"  name="date_traitement" id="date_traitement" required>
            
        </div>   
        <div class="custom-select" style="width:100%">
            <label>Maladie visée:</label>
            <select id="maladie_visee" name="maladie_visee" required>
                <option value="Mildiou">Mildiou</option>
                <option value="Oïdium">Oïdium</option>
                <option value="Botrytis">Botrytis</option>
                <option value="Anthracnose">Anthracnose</option>
              
            </select>
           
        </div>  
        <div class="custom-select" style="width:100%">
            <label>Stade maladie:</label>
            <select id="stade_maladie" name="stade_maladie" required>
                <option value="Début">Début</option>
                <option value="Moyen">Moyen</option>
                <option value="Avancé">Avancé</option>
                
            </select>
           
        </div>  

        <div class="custom-select" style="width:100%">
            <label>Méthode traitement:</label>
            <select id="methodes_traitement" name="methodes_traitement" required>
                <option value="Pulvérisation">Pulvérisation</option>
                <option value="Traitement biologique">Traitement biologique</option>
                <option value="Fongicide">Fongicide</option>
                
            </select>
           
        </div> 
        <div class="custom-select" style="width:100%">
            <label>observations:</label>
            <select id="observations" name="observations" required>
                <option value="Traitement effectué avec succès">Traitement effectué avec succès</option>
                <option value="Besoin de suivi">Besoin de suivi</option>
                <option value="Réinfection possible">Réinfection possible</option>
                
            </select>
           
        </div> 

<div class="custom-select" style="width:100%">
<label>Salarié:</label>
<select id="id_salarie" name="id_salarie" required>
    <option value="">Sélectionnez un salarié</option>
    {% for salarie in salaries %}
        <option value="{{ salarie.id_salarie }}" 
        
         >{{ salarie.nom_salarie }} {{ salarie.prenom_salarie }}</option>
    {% endfor %}
</select>

</div>
<div class="custom-select" style="width:100%">
<label>Exploitation:</label>
<select id="id_exploitation" name="id_exploitation" required>
    <option value="">Sélectionnez une exploitation</option>
    {% for exploitation in exploitations %}
        <option value="{{ exploitation.id_exploitation }}"
         >{{ exploitation.nom_exploitation }}</option>
    {% endfor %}
</select>

</div>           
                    
        
        <button class="button"  type="submit">Ajouter</button>
      
    </form>
{% endblock %}
