{% extends 'base.html' %}
{% block content %}
    <h1>Résultats du clustering des types de travail</h1>
    
    <div style="text-align: center;">
        <h2>Graphique de répartition des clusters</h2>
        <img src="data:image/png;base64,{{ graph_url }}" alt="Clustering Graph" style="width: 80%; height: auto;">
    </div>
    
    <div>
        <h2>Distribution des clusters</h2>
        <ul>
            {% for cluster, count in cluster_counts.items() %}
            <li><strong>Cluster {{ cluster }} :</strong> {{ count }} éléments</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
