{% extends 'base.html' %}

{% block content %}
    <h2>Liste des salaries</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <table id="salaries" class="display">
      <thead>
        <tr> 
            <th>Identifiant</th>
            <th>Nom salarié</th>
            <th>Prénom salarié</th>
            <th>Date d'embauche</th>
            <th>Exploitation</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for salarie in salaries %}
        <tr>
            <td>{{ salarie.identifiant_sal }}</td>
            <td>{{ salarie.nom_salarie }}</td>
            <td>{{ salarie.prenom_salarie }}</td>
            <td>{{ salarie.date_embauche }}</td>
            <td>{{ salarie.nom_exploitation }}</td>
            <td>
              <a href="{{ url_for('edit_salarie', id=salarie.id_salarie) }}">
                <i class="fa fa-edit" style="font-size:20px;color:green"></i>
            </a>
            <a href="{{ url_for('delete_salarie', id=salarie.id_salarie) }}">
                
<i class="fa fa-trash" style="font-size:20px;color:red;"></i>
            </a>
               
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#salaries').DataTable();
        });
    </script>
{% endblock %}
