{% extends 'base.html' %}

{% block content %}
    <h2>Synthèses de tous les données</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<!-- jsPDF for PDF Export -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    <div class="container">
        <form action="{{ url_for('synthese') }}" method="POST">
            <div class="row g-3 align-items-center">
                <div class="col-md-3 col-12">
                    <label for="annee" class="form-label">Année</label>
                    <select id="annee" name="annee" class="form-control" required>
                        <option value="2020" {% if annee == '2020' %}selected{% endif %}>2020</option>
                        <option value="2021" {% if annee == '2021' %}selected{% endif %}>2021</option>
                        <option value="2022" {% if annee == '2022' %}selected{% endif %}>2022</option>
                        <option value="2023" {% if annee == '2023' %}selected{% endif %}>2023</option>
                        <option value="2024" {% if annee == '2024' %}selected{% endif %}>2024</option>
                    </select>
                </div>
                <div class="col-md-6 col-12">
                    <label class="form-label">Catégorie</label>
                    <div class="d-flex flex-wrap gap-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" {% if categorie == "chefs" %} checked {% endif %} name="categorie" id="chefs" value="chefs" required>
                            <label class="form-check-label" for="chefs">Chefs d'exploitation</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" {% if categorie == "salaries" %} checked {% endif %} name="categorie" id="salaries" value="salaries" required>
                            <label class="form-check-label" for="salaries">Salariés</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" {% if categorie == "travaux" %} checked {% endif %} name="categorie" id="travaux" value="travaux" required>
                            <label class="form-check-label" for="travaux">Travaux agricoles</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  {% if categorie == "sanitaire" %} checked {% endif %} name="categorie" id="sanitaire" value="sanitaire" required>
                            <label class="form-check-label" for="sanitaire">Opérations sanitaires</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">Afficher Synthèse</button>
                </div>
            </div>
        </form>
    
    </div>
    <div class="container">
        {% if categorie == "sanitaire" %}
            <!-- Table pour afficher les données -->
            <table id="operations-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Maladie Visée</th>
                        <th>Stade Maladie</th>
                        <th>Méthodes Traitement</th>
                        <th>Observations</th>
                        <th>Date Traitement</th>
                        <th>ID Exploitation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in operation %}
                    <tr>
                        <td>{{ row['maladie_visee'] }}</td>
                        <td>{{ row['stade_maladie'] }}</td>
                        <td>{{ row['methodes_traitement'] }}</td>
                        <td>{{ row['observations'] }}</td>
                        <td>{{ row['date_traitement'] }}</td>
                        <td>{{ row['id_exploitation'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br><br>
        {% elif categorie == "travaux"  %}
           <table id="operations-table" class="table table-striped table-bordered">
                <thead>
                    {# add id and name salarie, nom opetratoin sanitaire #}
                    <tr>
                        <th>Type Travaux</th>
                        <th>Operation culturale</th>
                        <th>Durée</th>
                        <th>Date traveil</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in operation %}
                    <tr>
                        <td>{{ row['type_travail'] }}</td>
                        <td>{{ row['operation_culturale'] }}</td>
                        <td>{{ row['duree'] }}</td>
                        <td>{{ row['date'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif categorie == "salaries"  %}
           <table id="operations-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date Embauche</th>
                        <th>Id exploitation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in operation %}
                    <tr>
                        <td>{{ row['identifiant_sal'] }}</td>
                        <td>{{ row['nom_salarie'] }}</td>
                        <td>{{ row['prenom_salarie'] }}</td>
                        <td>{{ row['date_embauche'] }}</td>
                        <td>{{ row['id_exploitation'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          {% elif categorie == "chefs"  %}
           <table id="operations-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Id exploitation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in operation %}
                    <tr>
                        <td>{{ row['nom_chef'] }}</td>
                        <td>{{ row['prenom_chef'] }}</td>
                        <td>{{ row['username_chef'] }}</td>
                        <td>{{ row['id_exploitation'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    
       
    
    <script>
        $(document).ready(function () {
            // Initialiser DataTables
            $('#operations-table').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                lengthChange: true,
                pageLength: 10,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        text: 'Exporter en CSV',
                        className: 'btn btn-secondary'
                    },
                    {
                        extend: 'print',
                        text: 'Imprimer',
                        className: 'btn btn-secondary'
                    }
                ],
								language: {
									search: "Rechercher: ",
									info: "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
									paginate: {
										first: "Premier",
										last: "Dernier",
										next: "Suivant",
										previous: "Précédent"
									}
								}
            });
        
            
        
            // Exporter en PDF
            $('#export-pdf').click(function () {
                const { jsPDF } = window.jspdf;
                const doc = new jsPDF();
        
                // Titre du PDF
                doc.text('Operation Sanitaire', 10, 10);
        
                // Exporter les données de la table
                let rows = [];
                $('#operations-table tbody tr').each(function () {
                    let row = [];
                    $(this).find('td').each(function () {
                        row.push($(this).text());
                    });
                    rows.push(row);
                });
        
                doc.autoTable({
                    head: [['Maladie Visée', 'Stade Maladie', 'Méthodes Traitement', 'Observations', 'Date Traitement', 'ID Exploitation']],
                    body: rows
                });
        
                // Télécharger le PDF
                doc.save('operation_sanitaire.pdf');
            });
        });
        </script>
        </div>
        {% if data['chefs'] %}
        <h2 class="mt-50">Répartition des Chefs d'Exploitation</h2>
					<div class="graph-container">
        		<canvas id="chefsChart" width="400" height="200"></canvas>
					</div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var ctx = document.getElementById('chefsChart').getContext('2d');
        
            var myChart = new Chart(ctx, {
                type: 'bar',  // Graphique en barres
                data: {
                    labels: {{ data['chefs'] | tojson }},  // Noms des chefs
                    datasets: [{
                        label: 'Nombre d\'entrées par chef',
                        data: {{ data['counts'] | tojson }},  // Fréquences des chefs
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',  // Couleur des barres
                        borderColor: 'rgba(54, 162, 235, 1)',  // Couleur des contours
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Nombre d\'entrées'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Chefs d\'exploitation'
                            }
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    return context.raw + " entrée(s)";
                                }
                            }
                        }
                    }
                }
            });
        </script>
        {% endif %}
        
 
        
{% endblock %}
